[package]
name = "simple"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
bytemuck = { version = "1.25", features = ["derive"] }
glam = { version = "0.31.0", features = ["bytemuck"] }
vre = { path = "../../crates/vre" }
